# Best Selling Products

#### Tags: SQL, Database Querying, Rank Function, Window Function

Youâ€™re trying to identify the top selling products in Q4 2017 by region, and you have 2 tables that you can query:

All Products Table:

|Column Name|Data Type|Description|
|--- |--- |--- |
|product_id|integer|id of the product|
|product_name|string|name of the product|
|sku|integer|universal stock keeping unit number|
|distributor_id|integer|id for distributor|

Orders Table:
    
|Column Name|Data Type|Description|
|--- |--- |--- |
|date|string|format is "YYYY-MM-DD"|
|user_id|integer|id of purchaser|
|order_id|integer|id of order number|
|product_id|integer|id of product|
|no_units|integer|number of units sold in the order|
|price|integer|price per item|
|shipping_id|integer|id of shipment|
|region|string|region being shipped to|

**Write a SQL query to find the top 5 selling products (in terms of total units sold) by region in Q4 of 2017.**

In [7]:
# Attempt

``` sql
SELECT o.region, o.distributor, o.product_id, a.product_name, rank
FROM all_products as a
JOIN (SELECT region, product_id, total_sold
          RANK() OVER (
                PARTITION BY region
                ORDER BY total_sold DESC) Rank
      FROM (SELECT  region, product_id, sum(no_units) as total_sold
            FROM orders
            WHERE date BETWEEN '01-10-2017' AND '31-12-2017'
            GROUP BY region, product_id
            ORDER BY total_sold DESC)) as o
ON a.product_id=p.product_id
```

In [8]:
# Answer

``` sql
SELECT AP.distributor,
       AP.product_id,
       AP.product_name,
       O.region,
       O.rank_no,
       O.total_sold
FROM all_products as AP
JOIN (SELECT region,
             product_id,
             total_sold,
             RANK() OVER (
                 PARTITION BY region
                 ORDER BY total_sold DESC
             ) as rank_no
      FROM (
          SELECT region,
                 product_id,
                 SUM(no_units) as total_sold
          FROM orders
          WHERE date >= '2017-10-01' 
                AND date <= '2017-12-31'
          GROUP BY region,
                 product_id
          )
      WHERE rank_no <= 5
      ) as O
ON AP.product_id=o.product_id

```