# Filtering grades based on city avg, in SQL 
## SQL Database Querying Having Function

Given the following table, called 'students', write a SQL query to count the # of students with grades above the Detroit average.

| id | age | city     | grade | name           |
|----|-----|----------|-------|----------------|
| 0  | 20  | Detroit  | 88    | Willard Morris |
| 1  | 19  | Detroit  | 95    | Al Jennings    |
| 2  | 22  | New York | 92    | Omar Mullins   |
| 3  | 21  | San Francisco | 70    | Spencer McDaniel   |

In [3]:
import sqlite3
conn = sqlite3.connect('students.db')

In [9]:
#Connecting to sqlite
conn = sqlite3.connect('students.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists
cursor.execute("DROP TABLE IF EXISTS students")
print("Table dropped... ")

#Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table dropped...

In [12]:
transaction_table = """CREATE TABLE IF NOT EXISTS students (
                        student_id INTEGER NOT NULL, 
                        age INTEGER NOT NULL, 
                        city INTEGER NOT NULL, 
                        grade INTEGER NOT NULL, 
                        name TEXT NOT NULL
                    );"""

In [13]:
#Connecting to sqlite
conn = sqlite3.connect('students.db')

c = conn.cursor()

if conn is not None:
    # Create table
    c.execute(transaction_table)
    
# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [14]:
transactions_to_enter = [(0, 20, 'Detroit', 88, 'Willard Morris'),
                         (1, 19, 'Detroit', 95, 'Al Jennings'),
                         (2, 22, 'New York', 92, 'Omar Mullins'),
                         (3, 21, 'San Francisco', 70, 'Spencer McDaniel')]

In [15]:
conn = sqlite3.connect('students.db')
c = conn.cursor()
insert_query = """INSERT INTO students
                            (student_id, age, city, grade, name) 
                         VALUES (?, ?, ?, ?, ?);"""

c.executemany(insert_query, transactions_to_enter)
conn.commit()
print("Total", c.rowcount, "Records inserted successfully into hotel_transactions table")
conn.commit()
conn.close()

Total 4 Records inserted successfully into hotel_transactions table

In [32]:
select_query = """
              SELECT COUNT(*)
              FROM students
              WHERE grade > (SELECT AVG(grade)
                              FROM students
                              WHERE city = 'Detroit')
              """

In [34]:
conn = sqlite3.connect('students.db')
c = conn.cursor()
print("Number of folks with grades high than the Detroit Average")
for row in c.execute(select_query):
        print(row)
conn.commit()
conn.close()

Number of folks with grades high than the Detroit Average
(2,)

In [35]:
select_query = """
              SELECT grade, COUNT(*)
              FROM students
              GROUP BY grade
              HAVING grade > (SELECT AVG(grade)
                              FROM students
                              WHERE city = 'Detroit')
              """

In [36]:
conn = sqlite3.connect('students.db')
c = conn.cursor()
print("ANSWER: Number of folks with grades high than the Detroit Average")
for row in c.execute(select_query):
        print(row)
conn.commit()
conn.close()

Number of folks with grades high than the Detroit Average
(92, 1)
(95, 1)

The question should be reworded to either state that each student should be returned (for the having case), or a count (for the where case).