# A hotel chain's loyal customers

Tags: SQL, Database Querying, Subquery, Union

Suppose you're an analyst for a major US hotel chain which has locations all over the US. Your marketing team is planning a promotion focused around loyal customers, and they are trying to forecast how much revenue the promotion will bring in. However, they need help from you to understand how much revenue comes from "loyal" customers to plug into their model.

A "loyal" customer is defined as (1) having a membership with your company's point system, (2) having >2 stays at each hotel the customer visited, (3) having stayed at 3 different locations throughout the US.

You have a table showing all transactions made in 2017. The schema of the table is below:

|Column Name|Data Type|Description|
|--- |--- |--- |
|customer_id|id|id of the customer|
|hotel_id|integer|unique id for hotel|
|transaction_id|integer|id of the given transaction|
|first_night|string|first night of the stay, column format is "YYYY-mm-dd"|
|number_of_nights|integer|# of nights the customer stayed in hotel|
|total_spend|integer|total spend for transaction, in USD|
|is_member|boolean|indicates if the customer is a member of our points system|

In [2]:
import sqlite3
conn = sqlite3.connect('hotel.db')

In [42]:
#Connecting to sqlite
conn = sqlite3.connect('hotel.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists
cursor.execute("DROP TABLE hotel_transactions")
print("Table dropped... ")

#Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table dropped...

In [44]:
transaction_table = """CREATE TABLE IF NOT EXISTS hotel_transactions (
                        customer_id INTEGER NOT NULL, 
                        hotel_id INTEGER NOT NULL, 
                        transaction_id INTEGER NOT NULL, 
                        first_night TEXT NOT NULL, 
                        number_of_nights INTEGER NOT NULL, 
                        total_spend INTEGER NOT NULL, 
                        is_member INTEGER NOT NULL
                    );"""

In [45]:
#Connecting to sqlite
conn = sqlite3.connect('hotel.db')

c = conn.cursor()

if conn is not None:
    # Create table
    c.execute(transaction_table)
    
# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [46]:
transactions_to_enter = [(1, 1, 1, '2017-01-14', 5, 1000, 1),
                         (1, 2, 1, '2017-03-14', 2, 400, 1),
                         (1, 3, 1, '2017-04-14', 4, 800, 1),
                         (1, 3, 1, '2017-05-14', 3, 600, 1),
                         (2, 1, 1, '2017-01-1', 1, 200, 1),
                         (2, 2, 1, '2017-03-2', 2, 400, 1),
                         (2, 3, 1, '2017-04-10', 4, 800, 1),
                         (3, 1, 1, '2017-07-1', 1, 200, 0),
                         (3, 2, 1, '2017-09-2', 2, 400, 0),
                         (3, 3, 1, '2017-10-10', 4, 800, 0)]

In [48]:
conn = sqlite3.connect('hotel.db')
c = conn.cursor()
insert_query = """INSERT INTO hotel_transactions
                            (customer_id, hotel_id, transaction_id, first_night, number_of_nights, total_spend, is_member) 
                         VALUES (?, ?, ?, ?, ?, ?, ?);"""

c.executemany(insert_query, transactions_to_enter)
conn.commit()
print("Total", c.rowcount, "Records inserted successfully into hotel_transactions table")
conn.commit()
conn.close()

Total 10 Records inserted successfully into hotel_transactions table